.redonda{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: solid 4px #fff;
    display: inline-flex;
   
  }
 
.icontent{
  .scroll-content{
    justify-content: center;
	display: flex!important;
 	align-items: center!important;
}
}